* {
    text-align: center;
    list-style: none;
    padding-top: 10px;
}

.high-scores {
    float: left;
    margin-left: 15px;
}

.timer-display {
    float: right;
    margin-right: 15px;
}

.instruction-text {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.button-list button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 150px;
    
}
